<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar LIBROS</title>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card text-bg-white">
                    <div class="card-header text-center">Registro de LIBROS</div>
                    <div class="card-body">
                        <form id="frmLIBROS" @reset.prevent="nuevoLibro" v-on:submit.prevent="guardarLibro">
                            <div class="row p-1">
                                <div class="col-3 col-md-2">
                                    <label for="txtCodigoLibro">Código:</label>
                                </div>
                                <div class="col-9 col-md-6">
                                <input required pattern="^[US|SM]{2}[IS|LI|LA]{2}[0-9]{6}$"
                                    title="Ingrese un código valido" v-model="Libro.codigo" type="text"
                                    class="form-control" name="txtCodigoLibro" id="txtCodigoLibro">
                            </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-3 col-md-2">
                            <label for="txtNombreLibro">Nombre:</label>
                        </div>
                        <div class="col-9 col-md-6">
                            <input required pattern="[A-Za-zÑñáéíóú ]{3,75}" v-model="Libro.nombre" type="text"
                                class="form-control" name="txtNombreLibro" id="txtNombreLibro">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-3 col-md-2">
                            <label for="txtNombreLibro">País:</label>
                        </div>
                        <div class="col-9 col-md-6">
                            <input required pattern="[A-Za-zÑñáéíóú ]{3,75}" v-model="Libro.pais" type="text"
                                class="form-control" name="txtPaisLibro" id="txtPaisLibro">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-3 col-md-2">
                            <label for="txtDireccionLibro">Teléfono:</label>
                        </div>
                        <div class="col-9 col-md-6">
                            <input required pattern="[0-9|-]{9}" v-model="Libro.Direccion" type="text"
                                class="form-control" name="txtDireccionLibro" id="txtDireccionLibro">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-3 col-md-1">
                            <input class="btn btn-primary" type="submit" value="Guardar">
                        </div>
                        <div class="col-8 col-md-1">
                            <input class="btn btn-warning" type="reset" value="Nuevo">
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <br>
        <div class="col-12 col-md-12">
            <div class="card border-primary">
                <div class="card-header bg-primary text-center text-white">Listado de LIBROS</div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Buscar:</th>
                                <th colspan="4"><input type="text" class="form-control" v-model="buscar"
                                        @keyup="listarLIBROS()" placeholder="Buscar Libro"></th>
                            </tr>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>País</th>
                                <th>Teléfono</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="Libro in LIBROS" :key="Libro.idLIBROS" @click="modificarLibro(Libro)">
                                <td>{{ Libro.codigo }}</td>
                                <td>{{ Libro.nombre }}</td>
                                <td>{{ Libro.pais}}</td>
                                <td>{{ Libro.Direccion }}</td>
                                <td><button class="btn btn-danger" @click="eliminarLibro(Libro)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const {
            createApp
        } = Vue;
        createApp({
            data() {
                return {
                    accion: 'nuevo',
                    buscar: '',
                    LIBROS: [],
                    Libro: {
                        idLIBROS: '',
                        codigo: '',
                        nombre: '',
                        pais:'',
                        
                    }
                }
            },
            methods: {
                guardarLibro() {
                    this.listarLIBROS();
                    if (this.accion === 'nuevo') {
                        this.Libro.idLibro = new Date().getTime().toString(16);
                        this.LIBROS.push(JSON.parse(JSON.stringify(this.Libro)));
                    } else if (this.accion === 'modificar') {
                        let index = this.LIBROS.findIndex(Libro => Libro.idLibro == this.Libro
                            .idLibro);
                        this.LIBROS[index] = JSON.parse(JSON.stringify(this.Libro));
                    } else if (this.accion === 'eliminar') {
                        let index = this.LIBROS.findIndex(Libro => Libro.idLibro == this.Libro
                            .idLibro);
                        this.LIBROS.splice(index, 1);
                    }
                    localStorage.setItem("LIBROS", JSON.stringify(this.LIBROS));
                    this.nuevoLibro();
                },
                eliminarLibro(Libro) {
                    if (confirm(`Esta seguro de eliminar a ${Libro.nombre}?`)) {
                        this.accion = 'eliminar';
                        this.Libro = Libro;
                        this.guardarLibro();
                    }
                },
                nuevoLibro() {
                    this.accion = 'nuevo';
                    this.Libro.idLibro = '';
                    this.Libro.codigo = '';
                    this.Libro.nombre = '';
                    this.Libro.pais = '';
                },
                modificarLibro(Libro) {
                    this.accion = 'modificar';
                    this.Libro = Libro;
                },
                listarLIBROS() {
                    this.LIBROS = JSON.parse(localStorage.getItem('LIBROS') || "[]","[]")
                    .filter(Libro => Libro.nombre.toLowerCase().indexOf(this.buscar.toLowerCase()) > -
                        1);
                }
            },
            created() {
                this.listarLIBROS();
            }
        }).mount('#app');
    </script>
</body>

</html>